// Fonts
@font-face {
    font-family: 'MyLocalFont';
    src: url('../../public/fonts/one-piece-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-family-custom: 'MyLocalFont', sans-serif;

// Colors
$primary-color: #7f868b;
$secondary-color: #2ecc71;
$background-color: #5f89c0;
$text-color: #333;

// Typography
//$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$indent-base: 16px;

$indent-s : $indent-base / 2;    // 8px
$indent-m : $indent-base * 1.5;  // 24px
$indent-l : $indent-base * 2;    // 32px
$indent-xl : $indent-base * 3;   // 48px
$indent-xxl : $indent-base * 4;  // 64px
$indent-xxxl : $indent-base * 5; // 80px

// Borders
$border-radius: 10px;
$border-color: #ddd;
$border-width: 1px;

// Screen Sizes (Breakpoints)
$screen-xs: 360px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;

// Container Sizes
$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1440px;
