@import '@/styles/_variables.scss';
@import '@/styles/_mixins';

.character-section {
    flex-grow: 1;
    background: $background-color;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //max-width: 50%;
}

.character {
    &-container {
        background-color: rgb(175, 163, 116);
        @include flexcol;
        justify-content: center;
        max-width: 400px;
        border-radius: $border-radius;
        padding: 24px;

        &__title {
            font-size: $indent-l;
            text-align: center;
            margin-top: 0;
        }

        &__types {
            margin-bottom: 16px;
        }

        &__detail {
            margin-bottom: 12px;
            font-size: $indent-m;
        }

        &__button {
            @include styled-button;
            margin-bottom: 16px;
        }
    }


}